/**************************************** Reset & Default Setting **************************************/

img{
	display: block;
}
a{
	text-decoration: none;
}
ol, ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.clr{
    clear: both;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
html{
	height: inherit;
}
body{
	background: #f8f8f8;
	font-size: 14px;
	color: #2c3d48;
	font-weight: lighter;
}
.mainBody{
	margin-top: 64px !important;
}
.contentContainer{
	padding: 14px 14px 14px 10px;
}


/**************************************** Top Bar Starts **************************************/

.firstRow{
    padding-bottom: 0px !important;
	position: fixed !important;
	z-index: 99;
	left: 0px;
}
.secondRow{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.topBarTitle{
	background: #3e40a1;
    color: #fff;
}
.topBarTitle h3{
	text-align: center;
	line-height: 50px;
	font-weight: normal;
}
.topBar{
	background: #3e40a1;
	text-align: center;
}
.topBar h3{
	color: #fff;
	line-height: 50px;
	font-weight: normal;
}

/**************************************** Side Bar Starts **************************************/

.sideBar{
  height: calc(100vh - 50px);
  background: #5153aa;
  position: fixed !important;
  z-index: 9;
  margin: 64px 0px 0px 5px !important;
  overflow-y: auto;
}
.sideBarMenu{
	margin: 10px -14px 20px -5px;
}
.sideBarMenu li a{
	cursor: pointer;
	display: block;
	width: 100%;
	padding: 8px 10px 8px 15px;
	color: #fff;
}
.sideBarMenu > li > a:hover,
.sideBarMenu > li > ul > li > a:hover{
	background: rgba(0,0,0,0.2);
}
.sideBarMenu li ul{
	display: none;
}
.sideBarMenu li ul.activeItem{
	display: block;
}
.sideBarMenu li ul li a{
	padding-left: 30px;
}
.activeMenu{
	background: rgba(0,0,0,0.3);
	border-right: 3px solid #ed4054;
	font-weight: normal;
}







/*
new css code for book
*/

/*html {*/
	/*box-sizing: border-box;*/
/*}*/
/**, *:before, *:after {*/
	/*box-sizing: inherit;*/
/*}*/

/*body {*/
	/*margin: 0;*/
	/*padding: 20px;*/
	/*font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;*/
/*}*/

.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
}

.clearfix:after {
	clear: both;
}

.Books {
	border: 1px solid #eee;
	border-radius: 3px;
}

.Books h4 {
	margin: 0;
	padding: 15px;
	border-bottom: 1px solid #eee;
}

.Books .tabs {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #eee;
}

.Books .tabs li {
	list-style: none;
	float: left;
	padding: 15px;
	color: #aaa;
	font-size: 14px;
	border-right: 1px solid #eee;
}

.Books .tabs li:hover {
	cursor: pointer;
}

.Books .tabs li.active {
	position: relative;
	color: #444;
}

.Books .tabs li.active:after {
	content: "";
	position: absolute;
	height: 1px;
	left: 0;
	right: 0;
	background: #fff;
	bottom: -1px;
}

.BooksList ul {
	display: none;
}

.BooksList.active ul {
	display: block;
}

.BooksList li {
	font-size: 14px;
}

.BooksList li:not(:last-child) {
	margin-bottom: 5px;
}

.AddBook {
	padding: 15px;
	border-bottom: 1px solid #eee;
}

.AddBook input[type="text"] {
	width: 100%;
	height: 32px;
	font-size: 14px;
	padding: 5px 10px;
	border: 1px solid #eee;
	border-radius: 3px;
	display: block;
	margin-bottom: 10px;
}

.AddBook label input {
	position: relative;
	top: -1px;
}

.AddBook label {
	float: left;
	font-size: 14px;
}

.AddBook button {
	float: right;
}